.Birthday-card{
  background-color: #fffaf0; /*beige*/
  /* background-color: rgba(255, 234, 115, 0.979); */
  height: 300px;
  width: 300px;
  margin: 0px 20px;
  border-radius: 15px;

  box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* X-axis : Y-axis: Spread Shadow: Color*/

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  display: flex;
  flex-direction: column;
}

.Birthday-card:hover{
  cursor: pointer;
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0px 10px 10px rgba(0,0,0,1);
}

.Birthday-card-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Birthday-card-header span{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

.Birthday-tag{
  background-color: #DDA0DD;
}

.Birthday-tag.friend{
  background-color: #d6c0ff;
  color: #4b2f8a;
}

.Birthday-tag.college{
  background-color: #d6e9ff;
  color: #2f5d8a;
}

.Birthday-tag.family{
  background-color: #ffd0fb;
  color: #8a2f6a;
}

.Birthday-days{
  background-color: #ff6347;
}

.Birthday-days.red{
  background-color: #ff6347;
}

.Birthday-days.yellow{
  background-color: #FFC72C;
}

.Birthday-days.green{
  background-color: lightgreen;
}

.Birthday-content-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Birthday-img{
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.Birthday-name{
  letter-spacing: 0.5px;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.Birthday-date{
  margin: 0px;
  margin-bottom: 10px;
  font-size: 22px;
}

.Birthday-age{
  color: #555;
  margin: 0px;
  font-size: 20px;
  font-weight: 300;
  margin-top: 25px;
}