.Birthday-card{
  background-color: beige;
  height: 300px;
  width: 300px;
  margin: 0px 20px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

.Birthday-days.red{
  background-color: red;
}

.Birthday-days.yellow{
  background-color: yellow;
}

.Birthday-days.green{
  background-color: lightgreen;
}

.Birthday-card-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Birthday-card-header span{
  font-size: 20px;
  padding: 4px;
  border-radius: 5px;
}

.Birthday-tag{
  background-color: rgb(255, 255, 147);
}

.Birthday-days{
  background-color: rgb(255, 107, 107);
}

.Birthday-content-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Birthday-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.Birthday-name{
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.Birthday-date{
  margin: 0px;
  margin-bottom: 10px;
  font-size: 20px;
}

.Birthday-age{
  margin: 0px;
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}