.Recent-card{
  background-color: #fffaf0; /*beige*/
  /* background-color: rgba(255, 234, 115, 0.979); */
  height: 190px;
  width: 350px;
  margin: 0px 20px;
  border-radius: 15px;
  margin-bottom: 20px;

  box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* X-axis : Y-axis: Spread Shadow: Color*/

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  display: flex;
  flex-direction: column;
}

.Recent-card:hover{
  cursor: pointer;
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0px 10px 10px rgba(0,0,0,1);
}

.Recent-card-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Recent-card-content img{
  margin: 0px;
  margin-left: 20px;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.Recent-card-content div{
  margin-left: 20px;
}

.Birthday-name-recent{
  margin: 0px;
  font-size: 30px;
  letter-spacing: 0.5px;

}

.Birthday-date-recent{
  margin: 0px;
  font-size: 22px;
}

.Recent-card-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Recent-card-footer p{
  margin: 0px;
  color: #555;
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
}