.Recent-card{
  background-color: beige;
  height: 200px;
  width: 300px;
  margin: 0px 20px;
  border-radius: 5px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
}

.Recent-card-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Recent-card-content img{
  margin: 0px;
  margin-left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.Recent-card-content div{
  margin-left: 20px;
}

.Birthday-name-recent{
  margin: 0px;
  font-size: 30px;
}

.Birthday-date-recent{
  margin: 0px;
  font-size: 20px;
}

.Recent-card-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Recent-card-footer p{
  margin: 0px;
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}