.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.App-header h1{
  margin: 0px;
  font-size: 50px;
}

.App-content{
  background-color: grey;
  display: flex;
  justify-content: space-between;
}

.Upcoming-div{
  background-color: bisque;
}

.Upcoming-div h3{
  font-size: 35px;
  margin: 20px;
}

.Birthday-card-div{
  background-color: rgb(255, 219, 231);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.Recent-div{
  background-color: aquamarine;
}

.Recent-div h3{
  font-size: 35px;
  margin: 20px;
}