.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #fffaf0;
  padding: 10px;
  border-bottom: 2px solid rgba(0,0,0,0.15);
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}

.App-header h1{
  margin: 0px;
  font-size: 50px;
  letter-spacing: 1px;
}

.App-content{
  display: flex;
  justify-content: space-between;
}

.Upcoming-div{
  flex: 3;
}

.Upcoming-div h3{
  font-size: 35px;
  margin: 20px;
  margin-top: 30px;
}

.Birthday-card-div{
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.recent-toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 85px;
  width: 30px;
  height: 80px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  box-shadow: -1px 0px 5px rgba(0,0,0,0.2);
  z-index: 1;
}


.Recent-div{
  position: fixed;
  top: 1;
  right: 0;
  width: 400;
  height: 750px;

  /* background: rgba(255, 250, 240, 0.75); */
  backdrop-filter: blur(5px);
  box-shadow: 0px 0 5px rgba(0,0,0,0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}


.Recent-div.open{
  transform: translateX(0);
}

.Recent-div h3{
  font-size: 35px;
  margin: 20px;
  margin-top: 30px;
}