.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.App-content{
  background-color: grey;
  display: flex;
  justify-content: space-between;
}

.Upcoming-div{
  background-color: bisque;
}

.Birthday-card-div{
  background-color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.Birthday-card{
  background-color: beige;
  height: 300px;
  width: 300px;
  margin: 0px 20px;

  display: flex;
  flex-direction: column;
}

.Birthday-card-header{
  display: flex;
  justify-content: space-between;
}

.Birthday-tag{
  background-color: yellow;
}

.Birthday-days{
  background-color: red;
}

.Birthday-content-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Birthday-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.Recent-div{
  background-color: aquamarine;
}