.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.App-header h1{
  margin: 0px;
  font-size: 50px;
}

.App-content{
  background-color: grey;
  display: flex;
  justify-content: space-between;
}

.Upcoming-div{
  background-color: bisque;
  flex: 3;
}

.Upcoming-div h3{
  font-size: 35px;
  margin: 20px;
}

.Birthday-card-div{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(255, 219, 231);
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.Recent-div{
  background-color: aquamarine;
  flex: 1;
}

.Recent-div h3{
  font-size: 35px;
  margin: 20px;
}